<div class="post">
  <div class="user-info">
    <img
      class="user-profile-image"
      src="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg"
      alt=""
    />
    <p class="user-name">test user</p>
  </div>
  <div class="media-container">
    <img
      class="media"
      src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"
      alt=""
    />
  </div>
  <div class="likes-container">
    <fa class="like-icon" name="heart-o"></fa>
    <p class="total-likes">1000 likes</p>
  </div>
  <div class="caption-container">
    <span class="caption">
      <span class="user-name">test user</span>
      test captiontest captiontest captiontest captiontest captiontest
      captiontest captiontest captiontest captiontest captiontest captiontest
      captiontest captiontest captiontest captiontest captiontest captiontest
      captiontest captiontest captiontest captiontest captiontest captiontest
      captiontest captiontest caption</span
    >
  </div>
  <p class="time-stamp">
    9 hours ago
  </p>
</div>
