<div class="profile">
  <div class="user-name-container">
    <p class="user-name">
      {{ profile.username }}
    </p>
  </div>
  <div class="user-header">
    <div class="user-image-container">
      <img
        src="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg"
        alt=""
        class="user-image"
      />
    </div>
    <div class="profile-info">
      <p class="info">
        <span class="count">
          {{ posts?.length }}
        </span>
        <span class="label">
          Posts
        </span>
      </p>
      <p class="info" (click)="redirectTo(FOLLOWERS)">
        <span class="count">
          {{ profile.followers }}
        </span>
        <span class="label">
          Followers
        </span>
      </p>
      <p class="info" (click)="redirectTo(FOLLOWEES)">
        <span class="count">
          {{ profile.followees }}
        </span>
        <span class="label">
          Following
        </span>
      </p>
    </div>
  </div>
  <div class="user-info-container">
    <p class="name">
      {{ profile.name }}
    </p>
    <span class="user-bio">
      {{ profile.userBio }}
    </span>
  </div>
  <button *ngIf="config.isActiveUser" class="edit-profile-btn">
    Edit Profile
  </button>
  <button *ngIf="config.showFollowButton" class="follow-btn">Follow</button>
  <button *ngIf="config.showUnfollowButton" class="unfollow-btn">
    Unfollow
  </button>
  <div class="posts-container">
    <div *ngFor="let post of posts" class="post" (click)="redirectToPost()">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
  </div>
</div>
