<div class="profile">
  <div class="user-name-container">
    <p class="user-name">
      User name
    </p>
  </div>
  <div class="user-header">
    <div class="user-image-container">
      <img
        src="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg"
        alt=""
        class="user-image"
      />
    </div>
    <div class="profile-info">
      <p class="info">
        <span class="count">
          200
        </span>
        <span class="label">
          Posts
        </span>
      </p>
      <p class="info">
        <span class="count">
          200
        </span>
        <span class="label">
          Followers
        </span>
      </p>
      <p class="info">
        <span class="count">
          200
        </span>
        <span class="label">
          Following
        </span>
      </p>
    </div>
  </div>
  <div class="user-info-container">
    <p class="name">
      Mayank Jain
    </p>
    <span class="user-bio">
      Some bio
    </span>
  </div>
  <button class="edit-profile-btn">Edit Profile</button>
  <button class="follow-btn">Follow</button>
  <button class="unfollow-btn">Unfollow</button>
  <div class="posts-container">
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
    <div class="post">
      <img class="media" src="https://via.placeholder.com/300" alt="" />
    </div>
  </div>
</div>
