.post {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  .user-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    .user-profile-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .user-name {
      font-size: 16px;
      align-self: center;
      margin: 0;
    }
  }
  .media-container {
    .media {
      width: 100%;
      height: 300px;
    }
  }
  .likes-container {
    display: flex;
    flex-direction: row;
    margin: 4px 10px;

    .unlike-icon {
      margin-right: 10px;
      font-size: 16px;
    }
    .like-icon {
      margin-right: 10px;
      font-size: 16px;
      color: red;
    }
    .total-likes {
      font-size: 16px;
      margin: 0;
    }
  }
  .caption-container {
    display: flex;
    margin: 4px 10px;
    .user-name {
      font-weight: bold;
      margin-right: 10px;
      font-size: 16px;
    }
    .caption {
      font-size: 16px;
    }
  }
  .time-stamp {
    margin: 4px 10px;
    font-size: 14px;
    color: #888;
  }
}
