<div class="navbar">
  <div
    class="navbar-item"
    [routerLink]="['/feed']"
    routerLinkActive="router-link-active"
  >
    <fa name="home"></fa>
  </div>

  <div
    class="navbar-item"
    [routerLink]="['/search']"
    routerLinkActive="router-link-active"
  >
    <fa name="search"></fa>
  </div>

  <div
    class="navbar-item"
    [routerLink]="['/add']"
    routerLinkActive="router-link-active"
  >
    <fa name="plus"></fa>
  </div>
  <div
    class="navbar-item"
    [routerLink]="['/profile']"
    routerLinkActive="router-link-active"
  >
    <fa name="user"></fa>
  </div>
</div>
